@charset "utf-8";

@import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);
@import url(https://fonts.googleapis.com/css?family=Nanum+Brush+Script);
@import url(https://fonts.googleapis.com/css?family=Nanum+Myeongjo);

@font-face{
  font-family:'NanumSquare'; 
  src: 
  local(※),
  url('../font/NanumSquareR.eot') format('embedded-opentype'),
  url('../font/NanumSquareR.woff') format('woff'),
  url('../font/NanumSquareR.ttf') format('trutype');
  font-weight: 500;
}
@font-face{
  font-family:'NanumSquare'; 
  src: 
  local(※),
  url('../font/NanumSquareL.eot') format('embedded-opentype'),
  url('../font/NanumSquareL.woff') format('woff'),
  url('../font/NanumSquareL.ttf') format('trutype');
  font-weight: 400;
}
@font-face{
  font-family:'NanumSquare'; 
  src: 
  local(※),
  url('../font/NanumSquareB.eot') format('embedded-opentype'),
  url('../font/NanumSquareB.woff') format('woff'),
  url('../font/NanumSquareB.ttf') format('trutype');
  font-weight: 600;
}




/*  font-family: 'NanumSquare';  */

body, html{
height:100%;
}

* { margin:0; 
	  padding:0;
	  list-style:none;
	  box-sizing:border-box;
      font-family: 'NanumBarunGothic'

	}
h1,h2,h3,h4,h5,h6 { font-family: 'NanumSquare', sans-serif; }

a { text-decoration: none;
      color:inherit;
	}

.main {
width:100%;
height:100%;
background:url('../img/main_bg.jpg') center center no-repeat;
background-attachment:fixed;
overflow:hidden;
}

header {
  width:100%;
  height:65px;
  position:fixed;
  top:0;
  z-index:999;
  padding:0 50px;
}

header:after { content:''; display: block; clear: both; }

header h1 {
  margin-top:15px;
  font-size:28px;
  color: #FFF;
  float: left;
}

header ul {
  float: right;
  margin-top:20px;
}

header ul:after { content:''; display: block; clear: both; }

header ul li {
font-family: 'Ubuntu', sans-serif;
display:inline-block;
margin-right:40px;
color:#fff;
cursor:pointer;
transition:0.5s;
}
header ul li:last-child{
  margin-right:0;
}

header h1 img {
width:50px;
}

.main_text {
width:500px;
height:120px;
position:absolute;
top:0; right:0; left:0; bottom:0; margin:auto;
}

.main_text p {
font-size:70px;
text-align:center;
color:#e6e2d9;
font-family:'NanumGothic';
font-weight:900;
}

.main_text p span {
font-family:'NanumGothic';
font-weight:900;
}


.main_text h3 {
text-align:center;
color:#fff;
letter-spacing:8px;
margin-top:5px;
font-size:18px;
}

.top_img {
width:40px;
position:absolute;
left:0; right:0; bottom:0; margin:auto;
cursor:pointer;
opacity:0;
z-index:998;
}

.top_img img {
width:100%;
}

.about_sub {
width:100%;
min-height:150px;
padding-top:15.625%;
position:relative;
overflow:hidden;
}

.about_sub ul {
color:#fff;
}

.about_sub ul li:nth-child(1){
font-family: 'Ubuntu', sans-serif;
font-size:35px;
font-weight:900;
letter-spacing:1px;
transition:0.5s;
}

.about_sub ul li:nth-child(2){
font-size:18px;
transition:0.5s;
  margin-top:7px;
}

.sub1{
background:url('../img/1.jpg') top center no-repeat;
background-size:100%;
}

.sub2{
background:url('../img/2.jpg') top center no-repeat;
background-size:100%;
}

.sub3{
background:url('../img/3.jpg') top center no-repeat;
background-size:100%;
}

.sub4{
background:url('../img/4.jpg') top center no-repeat;
background-size:100%;
}


.sub1 ul {
position:absolute;
bottom:25px;
left:-20px;
opacity:0;
}

.sub2 ul {
position:absolute;
bottom:25px;
right:-20px;
text-align:right;
opacity:0;
}

.sub3 ul {
position:absolute;
bottom:25px;
left:-20px;
opacity:0;
}

.sub4 ul {
position:absolute;
bottom:25px;
right:-20px;
text-align:right;
opacity:0;
}

/*sec2*/

.section2 {
width:100%;
background-color:#FFF;
overflow:hidden;
}

.section2_wrap{
width:1024px;
margin:0 auto;
}

.section2_wrap>ul {
text-align:center;
}

.section2_wrap>ul>li {
margin:25px 0;
color:#3c3c3c;
}

.section2_wrap>ul>li:nth-child(1){
font-family: 'Ubuntu', sans-serif;
font-size:34px;
font-weight:900;
margin-top:70px;
}


.section2_wrap>ul>li:nth-child(2){
width:50px;
height:1px;
background-color:#3c3c3c;
margin:0 auto;
}

.section2_wrap>ul>li:nth-child(3){
 font-family:'NanumGothic';
font-size:16px;
}

.section2_wrap>ul>li:nth-child(3) strong{ font-size:18px; }

.sec_infor {
width:1024px;
margin:20px auto 50px;
}

.sec_infor:after {
content:'';
display:block;
clear:both;
}

.infor {
width:256px;
height:200px;
float:left;
padding-top:3%;
opacity:0;
}

.infor>ul {
text-align:center;
}

.infor>ul>li {
color:#000;
}

.infor>ul>li:nth-child(2){
margin-top:10px;
margin-bottom:5px;
font-weight:600;
font-size:18px;
}

.infor>ul>li:nth-child(3){
margin-bottom:3px;
}
.infor>ul>li:nth-child(4){
margin-bottom:3px;
}

.sec2_wrap:after {
content:'';
display:block;
clear:both;
}

.sec2_wrap>div {
width:512px;
height:312px;
float:left;
}


.sec4_wrap {
width:1024px;
margin:80px auto;
}

.section4_wrap>ul {
  text-align:center;
}

.section4_wrap>ul>li {
  margin:25px 0;
  color:#3c3c3c;
}

.section4_wrap>ul>li:nth-child(1){
  font-family: 'Ubuntu', sans-serif;
  font-size:34px;
  font-weight:900;
  margin-top:70px;
}

.section4_wrap>ul>li:nth-child(2){
  width:50px;
  height:1px;
  background-color:#3c3c3c;
  margin:0 auto;
}

.section4_wrap>ul>li:nth-child(3){
  font-family:'NanumGothic';
  font-size:16px;
}

.sec4_wrap>ul {
text-align:center;
}

.sec4_wrap>ul>li {
margin:25px 0;
color:#3c3c3c;
}

.sec4_wrap>ul>li:nth-child(1){
font-family: 'Ubuntu', sans-serif;
font-size:34px;
font-weight:900;
margin-top:70px;
}

.sec4_wrap>ul>li:nth-child(2){
width:50px;
height:1px;
background-color:#3c3c3c;
margin:0 auto;
}

.sec4_wrap>ul>li:nth-child(3){
font-size:16px;
font-family:'NanumGothic';
}

.skill {
width:100%;
}

.skill_bar_wrap {
width:500px;
margin:50px auto 0;
margin-bottom:50px;
}

.skill_bar1 {
width:100%;
}

.skill_p{
font-family: 'Ubuntu', sans-serif;
font-size:18px;
color:#323232;
margin-bottom:5px;
font-weight:600;
margin-bottom:10px;
}

.p_bar {
width:100%;
height:40px;
border:1px solid #ada08f;
position:relative;
}
.p_gu {
width:0;
height:38px;
background-color:#e6e2d9;
position:absolute;
left:0;
top:0;
}

.p_gu>p{
line-height:40px;
float:right;
margin-right:10px;
color:#ada08f;
font-weight:600;
}

.skill_bar2 {
width:100%;
margin-top:20px;
}

.i_bar {
width:100%;
height:40px;
border:1px solid #ada08f;
position:relative;
}
.i_gu {
width:0;
height:38px;
background-color:#e6e2d9;
position:absolute;
left:0;
top:0;
}

.i_gu>p{
line-height:40px;
float:right;
margin-right:10px;
color:#ada08f;
font-weight:600;
}

.skill_bar3 {
width:100%;
margin-top:20px;
}


.h_bar {
width:100%;
height:40px;
border:1px solid #ada08f;
position:relative;
}
.h_gu {
width:0;
height:38px;
background-color:#e6e2d9;
position:absolute;
left:0;
top:0;
}

.h_gu>p{
line-height:40px;
float:right;
margin-right:10px;
color:#ada08f;
font-weight:600;
}

.skill_bar4 {
width:100%;
margin-top:20px;
}


.j_bar {
width:100%;
height:40px;
border:1px solid #ada08f;
position:relative;
}
.j_gu {
width:0;
height:38px;
background-color:#e6e2d9;
position:absolute;
left:0;
top:0;
}

.j_gu>p{
line-height:40px;
float:right;
margin-right:10px;
color:#ada08f;
font-weight:600;
}

.bg_fixed{
width:100%;
background:url('../img/fixed_bg2.jpg') center center no-repeat;
background-attachment:fixed;
overflow:hidden;
}

.bg_fixed h2{
color:#fff;
text-align:center;
margin-top:130px;
  font-size:62px;
  font-family: 'Nanum Brush Script', cursive;
  font-weight:200;
}

.memory_content{ text-align: center; color: #FFF; font-size:22px; line-height:35px; margin-top:20px; font-family: 'Nanum Myeongjo', serif;
  font-weight:200; margin-bottom:130px; }

/*work*/

.section3 {
width:100%;
overflow:hidden;
}

.section3 ul {
text-align:center;
}

.section3 ul li {
margin:25px 0;
color:#3c3c3c;
}

.section3 ul li:nth-child(1){
font-family: 'Ubuntu', sans-serif;
font-size:34px;
font-weight:900;
margin-top:80px;
}

.section3 ul li:nth-child(2){
width:50px;
height:1px;
background-color:#3c3c3c;
margin:0 auto;
}

.section3 ul li:nth-child(3){
font-size:16px;
font-family:'NanumGothic';
}

.skill_wrap {
width:100%;
margin-top:50px;
}

.skill_wrap:after{
content:'';
display:block;
clear:both;
}

.skill_infor {
width:25%;
height:350px;
float:left;
}

.skill_infor img {
width:100%;
}



.snip1548 {
  font-family: 'Ubuntu', sans-serif;
  position: relative;
  float:left;
  overflow: hidden;
  min-width: 230px;
  width: 25%;
  color: #ffffff;
  font-size: 16px;
}
.snip1548 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1548:before {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  bottom: 100%;
  content: '';
  background-color: rgba(51, 51, 51, 0.8);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}
.snip1548 img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}
.snip1548 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.snip1548 h3,
.snip1548 h5 {
  margin: 0;
  opacity: 0;
  letter-spacing: 1px;
}
.snip1548 h3 {
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  text-transform: uppercase;
  font-weight: 900;
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
  margin-bottom: 5px;
}
.snip1548 h5 {
  font-weight: normal;
  background-color: #b4a592;
  padding: 3px 10px;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  color:#fff;
}
.snip1548 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.snip1548:hover:before,
.snip1548.hover:before {
  bottom: 10px;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.snip1548:hover h3,
.snip1548.hover h3,
.snip1548:hover h5,
.snip1548.hover h5 {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}
.snip1548:hover h3,
.snip1548.hover h3 {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.snip1548:hover h5,
.snip1548.hover h5 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}





.section4 {
width:100%;
overflow:hidden;
}



.section4 {
width:100%;
overflow:hidden;
background-color:#494340;
}

.section4 ul {
text-align:center;
}

.section4 ul li {
margin:25px 0;
color:#e6e2d9;
}

.section4 ul li:nth-child(1){
font-family: 'Ubuntu', sans-serif;
font-size:34px;
font-weight:900;
margin-top:80px;
}

.section4 ul li:nth-child(2){
width:50px;
height:1px;
background-color:#e6e2d9;
margin:0 auto;
}

.section4 ul li:nth-child(3){
font-size:16px;
font-family:'NanumGothic';
}

.input_wrap {
width:1024px;
margin:50px auto 50px;
}

.input_top>input {
width:32.5%;
height:40px;
margin-right:1.25%;
float:left;
background-color:#ada08f;
padding-left:1%;
}

.input_top:after {
content:'';
display:block;
clear:both;
}

.input_top>input:last-child{
margin-right:0;
}

.input_bottom>input {
width:100%;
height:300px;
margin-top:1.25%;
background-color:#ada08f;
padding-left:1%;
padding-bottom:250px;
}

 input { color: #363636;
 border:1px solid #e6e2d9;
 font-weight:600;
 letter-spacing:1px; 
 font-family: 'Ubuntu', sans-serif;
 }
::-webkit-input-placeholder { /* Chrome */
  color: #e6e2d9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e6e2d9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e6e2d9;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #e6e2d9;
  opacity: 1;
}

.send {
width:140px;
height:40px;
background-color:#323232;
color:#fff;
text-align:center;
line-height:40px;
font-weight:600;
letter-spacing:1px;
border:none;
margin-top:1.25%;
font-family: 'Ubuntu', sans-serif;
cursor:pointer;
}













.footer {
width:100%;
height:70px;
background-color:#222;
}

.footer>p {
color:#fff;
text-align:center;
line-height:70px;
font-family: 'Ubuntu', sans-serif;
}











@media all and (max-width:1024px) {

.section2_wrap{
width:100%;
}

.sec_infor{
width:100%;
}

.infor{
float:none;
margin:0 auto;
}

.sec4_wrap{
width:100%;
}

.skill_bar_wrap{
width:80%;
}

.snip1548{
width:33.333333%;
}

.input_wrap{
width:80%;
}

.input_top>input{
width:100%;
display:block;
margin-top:1.25%;
}

.sub1, .sub2, .sub3, .sub4 {
background-size:cover;
}

.about_sub ul li:nth-child(1){
font-size:26px;
}

.about_sub ul li:nth-child(2){
font-size:16px;
}

.fi_wrap{
width:100%;
}




}

@media all and (max-width:760px) {
.snip1548{
width:50%;
}

.input_bottom>input{
height:200px;
padding-bottom:160px;
}

.main_text{
width:90%;
}

.main p{
font-size:50px;
}

.main h3{
font-size:12px;
}







}

@media all and (max-width:470px) {
.snip1548{
width:100%;
}


.about_sub ul li:nth-child(1){
font-size:22px;
}

.about_sub ul li:nth-child(2){
display:none;
}





}


@media all and (max-width:420px) {
.main h3{
letter-spacing:4px;
}

.main p{
font-size:35px;
}

header ul li{
font-size:14px;
margin:0 12px 0;
}

header h1 img{
width:40px;
}



